{% extends "base.html" %}

{% block title %}Server Error - Stock & Options Tracker{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="text-center">
                <i class="fas fa-exclamation-triangle fa-5x text-warning mb-4"></i>
                <h1 class="display-4">Server Error</h1>
                <p class="lead">Something went wrong on our end. We're working to fix it.</p>
                <a href="{{ url_for('index') }}" class="btn btn-primary">Return to Dashboard</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}